<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">

	<parameter name="browserType" value="FF" />

	<test name="Test1">
		<classes>
			<class name="aws.activeadmindepot.TC001_NewUserScreen" />
		</classes>
	</test> <!-- Test -->

	<test name="Test2">
		<classes>
			<class name="aws.activeadmindepot.TC002_UsersFilters" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->